*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-family: 'Lora', serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 5px;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #006669;
}
.clearfix::after{
    content: '';
    clear: both;
    display: block;
}
.btn{
    padding: 0.5rem 1rem;
    color: white;
    background-color: #006669;
    border: 1px solid transparent;
    border-radius: 0.25 rem;
}
.btn-big{
    padding: 0.7rem 1.3rem;
    line-height: 1.5rem;
    font-size: 1.1em;
}
.btn:hover{
    color: white !important;
    background-color: #014244;
}
.text-input{
    padding: 0.7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Lora', serif;
}
header *{
    color: white;;
}
header {
    background-color: #008489;
    height: 70px;
}
header .menu-toggle{
    display: none;
}
header .logo{
    float: left;
    height: inherit;
    margin-left: 2em;
}
header .logo-text{
    margin: 10px;
}
header .logo-text span{
    color: cyan;
    font-family: 'Candal', sans-serif;
}
header ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: max-height 1s ease-in-out;
}
header ul li{
    float: left;
}
header ul li :hover{
    background-color: #00686b;
}
header ul li a{
    padding: 21px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

.page-wrapper{
    min-height: 100%;
}

/* SLIDER */
.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
    font-family: 'Candal', sans-serif;
    margin: 30px auto;
}
.post-slider .post-wrapper{
    height: 350px;
    width: 84%;
    margin: 0 auto;
    overflow: hidden;
}
.post-slider .prev{
    position: absolute;
    font-size: 1.5em;
    color: #003089;
    left: 30px;
    top: 50%;
    cursor: pointer;
}
.post-slider .next{
    position: absolute;
    font-size: 1.5em;
    color: #003089;
    right: 30px;
    top: 50%;
    cursor: pointer;
}
.post-slider .post-wrapper .post{
    height: 330px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    background-color: white;
    border-radius: 5%;
    box-shadow: 1rem 1rem 1rem -1rem black;
}
.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.post-slider .post-wrapper .post .slider-info{
    height: 130px;
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}
.post-slider .post-wrapper .post .slider-info :hover{
    color: #006669;
}

/* Main Content */
.content{
    width: 90%;
    margin: 30px auto;
}
.content .main-content{
    width: 70%;
    float: left;
    border: 1px solid blue;
}
.content .main-content.single{
    background-color: white;
    padding: 20px 50px;
    font-size: 1.1em;
}
.content .main-content.single .post-image{
    width: 85%;
    height: 200px;
    margin: 0 7.5%;
}
.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 40px;
}
.content .main-content .recent-post-title{
    margin: 20px;
}
.content .main-content .post{
    position: relative;
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background-color: white;
    border-radius: 5px;
}
.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    float: left;
}
.content .main-content .post .post-preview{
    width: 60%;
    float: right;
    padding: 10px;
}
.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.side-content{
    float: left;
    width: 30%;
    height: 300px;
    padding-left: 30px;
    border: 1px solid yellowgreen;
}

/* FOOTER */
.footer{
    position: relative;
    color: grey;
    background-color: #303036;
    height: 400px;
}
.footer .footer-main{
    height: 350px;
    display: flex;
}
.footer .footer-main .footer-section{
    flex: 1;
    padding: 25px;
}
.footer .footer-main .footer-section h1,
.footer .footer-main .footer-section h2{
    color: white;
}
.footer .footer-main h1 span{
    color: cyan;
}
.footer .footer-main .about .contact span{
    display: block;
    font-size: 1.1rem;
    margin-bottom: 8px;
}
.footer .footer-main .about .social a{
    display: inline-block;
    font-size: 1.3rem;
    border: 1px solid grey;
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    transition: all 0.2s;
}
.footer .footer-main .about .social a:hover{
    color: white;
    border: 1px solid white;
    transition: all 0.2s;
}
.footer .footer-main .quick-links a{
    display: block;
    margin-left: 10px;
    font-size: 1.2em;
    transition: all 0.3s;
}
.footer .footer-main .quick-links a:hover{
    color: white;
    margin-left: 15px;
    transition: all 0.3s;
}
.footer .footer-main .contact .contact-input{
    background-color: #272727;
    padding: 0.9em 1.4em;
    border: none;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
}
.footer .footer-main .contact .contact-input:focus{
    background-color: #1a1a1a;
}
.footer .footer-main .contact .contact-btn{
    float: right;
}
.footer .footer-bottom{
    position: absolute;
    bottom: 0;
    background-color: #3a3a3f;
    text-align: center;
    height: 50px;
    width: 100%;
    padding: 10px;
}

/* MEDIA QUERIES */
@media only screen and (max-width:620px){
    header{
        position: relative;
    }
    header ul{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        background-color: #03b0b6;
    }
    .showing{
        max-height: 100em;
    }
    header ul li{
        width: 100%;
    }
    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 2em;
    }
}